@import '../../styles/style.scss';
@import '../../styles/function.scss';
body{
  background-color: #F9F9F9;
}
.order{
  padding-top: vw(34);
}
// .order
.add_btn {
  position: fixed;
  bottom: vw(50);
  right: vw(50);
    .van-button{
      width: vw(52);
      height: vw(52);
      border-radius: 50%;
    }
    .van-button .van-icon-plus{
      font-size: vw(20);
    }
}
