@import '../../styles/font.scss';
@import '../../styles/function.scss';
.login{
  height: 100vh;
  // background-image: url('../../assets/login/login_bg.png');
  // background-repeat: no-repeat;
  // background-size: 100% auto;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  &_passWord{
    padding: 0 vw(17);
    width: calc(100% - vw(34));
    margin: vw(40) auto 0;
    // position: absolute;
    // bottom: vw(58);
  }
  .login_logo{
    // position: absolute;
    // top: vw(-30);
    // left: 0;
    width: 100%;
    height: auto;
    margin-top: vw(-30);
    // margin-right: vw(17);
    // margin-top: vw(134);
    // margin-bottom: vw(106);
  }
  .login_welcome{
    font-size: vw(22);
    line-height: 37px;
    color: #919A74;
    text-align: left;
    margin-bottom: vw(16);
    font-weight: bold;
  }
  .error_tip{
    color: red;
    font-size: 12px;
    text-align: left;
  }
  .log_in{
    width: vw(272);
    height: vw(50);
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 25px;
    // opacity: 0.69;
    background-color: #919A74;
    margin-top: vw(45);
    outline: none;
    border: none;
  }
  .password-seeker {
    position: relative;
  }
  .seeker{
    width: 22px;
    height: auto;
    position: absolute;
    right: 9px;
    color: #999999;
    line-height: vw(38);
  }
  .form_input{
    border-bottom: 1px solid #999999;
  }
   .ant-input::placeholder {
     color: #999999;
   }
  .error_input{
    border-bottom: 1px solid red;
  }
 .error_input::placeholder,
  .error_input .ant-input::placeholder {
   color: red;
 }
  .password-seeker {
    line-height: vw(30);
    color: #999999;
    outline: none !important;
  }
  .password-seeker .anticon{
    color: #999999;
  }
  .ant-input{
    height: vw(50);
    color: #999999;
  }
  .policy{
    display: flex;
    justify-content: start;
    color: #999999;
    margin-top: vw(32);
    a{
      color: #A9B28E;
      border-bottom: 1px solid #A9B28E;
    }
    .check_circle{
      border-radius: 50%;
      // width: 12px;
      margin-right: vw(5);
      // opacity: .6;
      color: #999999;
    }
    .checked_circle{
      width: vw(12);
      color: #A9B28E;
      margin-right: vw(5);
    }
  }
  .policy_tip{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .policy_shade{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
  }
  .policy_text{
    width: vw(290);
    height: vw(278);
    position: absolute;
    top: calc((100% - vw(278)) / 2);
    left: calc((100% - vw(290)) / 2);
    border-radius: 10px;
    background-color: #FFFFFF;

    h3{
      width: 100%;
      line-height: vw(55);
      color: #FFFFFF;
      background-color: #A9B28E;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: vw(18);
    }
    p{
      text-align: justify;
      height: calc(100% - vw(105));
      overflow: scroll;
      padding: vw(18) vw(16);
      font-size: vw(14);
      line-height: vw(20);
    }
    .policy_text-btn{
      width: 100%;
      box-shadow: 0 -7px 7px rgba(128, 128, 128, .3);
      span{
        display: inline-block;
        width: 50%;
        height: vw(50);
        line-height: vw(50);
        text-align: center;
      }
    }
  }
}
